# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Conda
.envrc

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Local data
data/alerts.json
data/logs/*.log

# Jupyter
.ipynb_checkpoints/